<h1>Créditos</h1>

<p>
    Esta práctica ha sido desarrollada por Natalia García y Félis Martín.
</p>

<img src="/images/foto.jpg" />

<p>
 Nuestra práctica está colgada en:
      <a href="http://github.com/portmanyyo/quiz2017">
</p>